:host {
    display: block;
  }
 
  .Agent,
  .Chatbot {
    color: var(--contrastPrimaryColor, #333333);
    background-color: #F2F2F3;
    border-radius: 10px 10px 10px 0;
    float: left;
    padding: 0.5em;
  }
 
  .EndUser {
    background-color: var(--secondaryColor, #005290);
    color: var(--slds-g-color-neutral-base-100,#fff);
    margin-left: auto;
    padding: 0.5em;
    border-radius: 10px 10px 0 10px;
  }
 
  lightning-formatted-text {
    font-size: 0.875em;
  }